footer {
    background-color: var(--noir);
    padding: 20px;
    text-align: left;
    width: 100%;
    color: var(--blanc);
}

footer p {
    font-size: 1em;
    line-height: 1.6;
}

.footer-logos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 50%;
}