body {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    font-family: "Inria Sans", serif;
    text-align: center;
    background-color: #f4f4f4;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

video {
    width: 100%;
    height: auto;
}

.image-block {
    width: 100%;
    height: auto;
}

.image-bottom img {
    width: 100%;
    height: auto;
}

.image-right img {
    width: 100%;
    height: auto;
}

.image-right {
    margin: 15px;
}